[core]
	autocrlf = false
[user]
	name = Myroslava Kukhta
	email = miroslavakukhta@gmail.com
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
